.grid-container
{
    display: grid;
    grid-template-columns: repeat(3, 50px);
    grid-template-rows: repeat(3, 50px);
    gap:10px;
    grid-auto-flow: dense;
}
.grid-case{
    background-color: darkorange;
    color:white;
    align-items: center;
    justify-content: center;
}